<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<nav class="navbar navbar-inverse ">
	     <a class="navbar-brand" href="#">Test app 2</a>
		 <ul class="nav navbar-nav">	
		      <li class="active"><a href="#">Home</a></li>
	    </ul>
	</nav>
	<hr>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">List member</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-condensed">
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Age</th>
						<th>Photo</th>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>